body {
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  border: 1px solid black;
  display: flex;
}

.leftContainer {
  border: 1px solid black;
  padding: 20px;
  width: 30%;
  min-height: 100%;
}

.rightContainer {
  border: 1px solid black;
  padding: 20px;
  width: 70%;
  min-height: 100%;
  text-align: center;

}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}

.input-field {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  outline: none;
}

.search-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background: #0056b3;
}

.city-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-top: 15px;
}

.city-item {
  background: rgba(255, 255, 255, 0.3);
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}

.city-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.city-link:hover {
  color: #007bff;
}

.not-found-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.weather-container {  
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #89CFF0, #29f0a3);
  color: white;
  text-align: center;
  
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.weather-container h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.weather-box {
  width: 48%;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.weather-box p {
  margin: 5px 0;
  font-size: 1rem;
}

.weather-box svg {
  margin-bottom: 5px;
  color: white;
}